{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% load reportes %}
{% block reports_styles %}
	<!--<link rel="stylesheet" type="text/css" href="{% static 'api/bootstrap-3.3.4/css/bootstrap.css' %}">-->
	<link href="{% static 'api/bootstrap_admin_template/css/pages/reports.css' %}" rel="stylesheet">
	<style type="text/css">
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
	</style>
	<style>
    #canvas-holder {
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    #chartjs-tooltip {
        opacity: 1;
        position: absolute;
        background: rgba(0, 0, 0, .7);
        color: white;
        padding: 3px;
        border-radius: 3px;
        -webkit-transition: all .1s ease;
        transition: all .1s ease;
        pointer-events: none;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    #chartjs-tooltip.below {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    #chartjs-tooltip.below:before {
        border: solid;
        border-color: #111 transparent;
        border-color: rgba(0, 0, 0, .8) transparent;
        border-width: 0 8px 8px 8px;
        bottom: 1em;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        z-index: 99;
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
    }
    #chartjs-tooltip.above {
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
    }
    #chartjs-tooltip.above:before {
        border: solid;
        border-color: #111 transparent;
        border-color: rgba(0, 0, 0, .8) transparent;
        border-width: 8px 8px 0 8px;
        bottom: 1em;
        content: "";
        display: block;
        left: 50%;
        top: 100%;
        position: absolute;
        z-index: 99;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    </style>
{% endblock %}
{% block container %}
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<i class='icon-search'></i>
					<h3>{% trans 'Filtros' %}</h3>
				</div>
				<div class="widget-content">
					<form role="form" class="form-horizontal validate-form" method="post" action="" autocomplete="off" 
							enctype="multipart/form-data" onsubmit="">
						{% csrf_token %}
						<div class="row-fluid widget">
							<div class="span6">
								{{form.anho.label_tag}}
								{{form.anho}}
								{% if form.anho.errors %}
									<div class="span6" style="margin-left:0;margin-top:10px">
										<div class="alert">{{ form.anho.errors }}</div>
									</div>
								{% endif %}
							</div>
							<div class="span6">
								{# {{form.mes.label_tag}} #}
								{# {{form.mes}} #}
								{{form.tipo_reporte.label_tag}}
								{{form.tipo_reporte}}
								{% if form.tipo_reporte.errors %}
									<div class="span12" style="margin-left:0;margin-top:10px">
										<div class="alert">{{ form.tipo_reporte.errors }}</div>
									</div>
								{% endif %}
							</div>
						</div>
						<!--<hr>
						<div class="row-fluid widget">
							<div class="span12">
								{{form.tipo_reporte.label_tag}}
								{{form.tipo_reporte}}
								{% if form.tipo_reporte.errors %}
									<div class="span12" style="margin-left:0;margin-top:10px">
										<div class="alert">{{ form.tipo_reporte.errors }}</div>
									</div>
								{% endif %}
							</div>
						</div>-->
						<div class="form-actions">
							<button class="btn btn-primary btn-small" type="submit" 
									title="{% trans 'Presione el botón para consultar el reporte' %}">
								{% trans 'consultar' %}
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<h3>{% trans 'Reporte' %}</h3>
				</div>
				<div class="widget-content">
					<div class="row-fluid">
						<div class="span8">
							<div class="widget">
								<div class="widget-header">
									<h3>
										<i class="fa {% if form.tipo_reporte.value %}{% if form.tipo_reporte.value == 'A' %}fa-area-chart{% else %}{% if form.tipo_reporte.value == 'B' %}fa-bar-chart{% else %}{% if form.tipo_reporte.value == 'D' or form.tipo_reporte.value == 'T' %}fa-pie-chart{% else %}{% if form.tipo_reporte.value == 'L' %}fa-line-chart{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}"></i>&#160;&#160;
										{% trans 'Gráfico' %}
									</h3>
								</div>
								<div class="widget-content">
									<canvas style="width: 300px; height: 250px;" id="grafico-reporte" class="chart-holder" height="250" width="740"></canvas>
									<div class="row-fluid">
										<div class="span12" style="text-align:center">
											{% if form.anho.value %}<h2>{{form.anho.value}}</h2>{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="span4">
							<div class="widget">
								<div class="widget-header">
									<h3>{% trans 'Leyenda' %}</h3>
								</div>
								<div class="widget-content" style="height:auto">
									{% block leyenda_reporte %}{% endblock %}
								</div>
							</div>
							
						</div>
					</div>
					<div class="row-fluid">
						<div class="span12">
							<div class="row-fluid">
								<div class="span12">
									<h2>{% trans 'Datos' %}</h2>
								</div>
							</div>
							<div class="row-fluid">
								<div class="span12" id="contenedor-reporte">
									<table id="lista-reporte" class="table table-striped table-bordered dataTable hover display responsive" width="100%" cellspacing="0" align="center">
										{% block tcols %}{% endblock %}
										<thead>
		                                    {% block consulta_thead %}{% endblock %}
		                                </thead>
		                                <tbody>
		                                    {% block consulta_tbody %}{% endblock %}
		                                </tbody>
		                                <tfoot>
		                                    {% block consulta_tfoot %}{% endblock %}
		                                </tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="form-actions">
						<button class="btn btn-primary btn-small download-pdf" type="button" onclick="imprimir_reporte('{% static 'img/cintillo.png' %}', $('#ae-total-graficar').val(),$('#br-total-graficar').val(),$('#ci-total-graficar').val(),$('#ep-total-graficar').val());"
								title="{% trans 'Presione el botón para imprimir el reporte' %}">
							{% trans 'imprimir' %}
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-top:25px"><div class="span12"><canvas id="myCanvas" style="display:none"/></div></div>
{% endblock %}
{% block reportes_javascript %}
	<!--<script src="{% static 'api/bootstrap-3.3.4/js/bootstrap.js' %}"></script>-->
	<script type="text/javascript" src="{% static 'js/plugins/flot/jquery.flot.js' %}"></script>
	<!--<script src="{% static 'api/bootstrap_admin_template/js/charts/area.js' %}"></script>
	<script src="{% static 'api/bootstrap_admin_template/js/charts/bar.js' %}"></script>
	<script src="{% static 'api/bootstrap_admin_template/js/charts/donuts.js' %}"></script>
	<script src="{% static 'api/bootstrap_admin_template/js/charts/line.js' %}"></script>
	<script src="{% static 'api/bootstrap_admin_template/js/charts/pie.js' %}"></script>-->
{% endblock %}
{% block script_reporte %}
	<script type="text/javascript">
			/*var pieData = [
				{
				    value: 30,
				    color: "#F38630"
				},
				{
				    value: 50,
				    color: "#E0E4CC"
				},
				{
				    value: 100,
				    color: "#69D2E7"
				}

			];

			var myPie = new Chart(document.getElementById("pie-chart").getContext("2d")).Pie(pieData);*/
	</script>
{% endblock %}