{% load i18n %}
<div class="row-fluid comision">
	<div class="span12">
		<h4 style="margin-bottom:15px;">
			{# {% trans 'Agregar Comisión' %} #}
			{% trans 'Comisión' %}
			<!--<a href="#"><i class="icon-plus-sign" title="{% trans 'Agregar Comisión' %}"></i></a>-->
		</h4>
	</div>
</div>
<div class="row-fluid comision">
	<div class="span4">
		{{ form.nombre_comision.label_tag }}
		{{ form.nombre_comision }}
		{% if form.nombre_comision.errors %}<div class="alert">{{ form.nombre_comision.errors }}</div>{% endif %}
	</div>
	<div class="span4">
		{{ form.responsable_comision.label_tag }}
		{{ form.responsable_comision }}
		{% if form.responsable_comision.errors %}<div class="alert">{{ form.responsable_comision.errors }}</div>{% endif %}
	</div>
	<div class="span4">&#160;</div>
</div>