{% load i18n %}
<div class="row-fluid estructura">
	<div class="span12">
		<h4 style="margin-bottom:15px;">
			{# {% trans 'Agregar Estructura' %} #}
			{% trans 'Estructura' %}
			<!--<a href="#"><i class="icon-plus-sign" title="{% trans 'Agregar estructura' %}"></i></a>-->
		</h4>
	</div>
</div>
<div class="row-fluid widget estructura">
	<div class="span12">
		{{ form.tipo_estructura.label_tag }}
		{{ form.tipo_estructura }}
		{% if form.tipo_estructura.errors %}<div class="alert">{{ form.tipo_estructura.errors }}</div>{% endif %}
	</div>
</div>
<div class="row-fluid estructura">
	<div class="span12">
		{{ form.observaciones_estructura.label_tag }}
		{{ form.observaciones_estructura }}
		{% if form.observaciones_estructura.errors %}<div class="alert">{{ form.observaciones_estructura.errors }}</div>{% endif %}
	</div>
</div>