{% load i18n %}
<div class="row-fluid persona">
	<div class="span12">
		<h4 style="margin-bottom:15px;">
			{# {% trans 'Agregar Persona' %} #}
			{% trans 'Persona' %}
			<!--<a href="#"><i class="icon-plus-sign" title="{% trans 'Agregar persona' %}"></i></a>-->
		</h4>
	</div>
</div>
<div class="row-fluid widget persona">
	<div class="span12">
		{{ form.identificado.label_tag }}
		{{ form.identificado }}
		{% if form.identificado.errors %}<div class="alert">{{ form.identificado.errors }}</div>{% endif %}
	</div>
</div>
<div class="row-fluid widget persona">
	<div class="span3">
		{{ form.persona_cedula.label_tag }}
		{{ form.persona_cedula }}
		<button class="btn btn-primary btn-small" type="button" onclick="buscar_persona('{% url 'buscar_persona' %}', $('#{{ form.persona_cedula.auto_id }}').val())">buscar</button>
		{% if form.persona_cedula.errors %}<div class="alert">{{ form.persona_cedula.errors }}</div>{% endif %}
	</div>
	<div class="span3">
		{{ form.persona_nombre.label_tag }}
		{{ form.persona_nombre }}
		{% if form.persona_nombre.errors %}<div class="alert">{{ form.persona_nombre.errors }}</div>{% endif %}
	</div>
	<div class="span3">
		{{ form.persona_edad.label_tag }}
		{{ form.persona_edad }}
		{% if form.persona_edad.errors %}<div class="alert">{{ form.persona_edad.errors }}</div>{% endif %}
	</div>
	<div class="span3">
		{{ form.persona_sexo.label_tag }}
		{{ form.persona_sexo }}
		{% if form.persona_sexo.errors %}<div class="span3" style="margin-left:0;margin-top:10px"><div class="alert">{{ form.persona_sexo.errors }}</div></div>{% endif %}
	</div>
</div>
<div class="row-fluid widget persona">
	<div class="span6">
		{{ form.persona_estatus.label_tag }}
		{{ form.persona_estatus }}
		{% if form.persona_estatus.errors %}<div class="span6" style="margin-left:0;margin-top:10px"><div class="alert">{{ form.persona_estatus.errors }}</div></div>{% endif %}
	</div>
	<div class="span6">
		{{ form.persona_diagnostico.label_tag }}
		{{ form.persona_diagnostico }}
		{% if form.persona_diagnostico.errors %}<div class="span6" style="margin-left:0;margin-top:10px"><div class="alert">{{ form.persona_diagnostico.errors }}</div></div>{% endif %}
	</div>
</div>
<div class="row-fluid persona">
	<div class="span12">
		{{ form.persona_observaciones.label_tag }}
		{{ form.persona_observaciones }}
		{% if form.persona_observaciones.errors %}<div class="alert">{{ form.persona_observaciones.errors }}</div>{% endif %}
	</div>
</div>