{% load i18n %}
<div class="row-fluid">
	<div class="span12">
		<h4 style="margin-bottom:15px;">
			{# {% trans 'Agregar Unidad' %} #}
			{% trans 'Unidad' %}
			<!--<a href="#"><i class="icon-plus-sign" title="{% trans 'Agregar unidad' %}"></i></a>-->
		</h4>
	</div>
</div>
<div class="row-fluid">
	<div class="span4">
		{{ form.tipo_unidad.label_tag }}
		{{ form.tipo_unidad }}
		{% if form.tipo_unidad.errors %}<div class="span4" style="margin-left:0; margin-top:10px;"><div class="alert">{{ form.tipo_unidad.errors }}</div></div>{% endif %}
	</div>
	<div class="span4">
		{{ form.codigo_unidad.label_tag }}
		{{ form.codigo_unidad }}
		{% if form.codigo_unidad.errors %}<div class="span4" style="margin-left:0; margin-top:10px;"><div class="alert">{{ form.codigo_unidad.errors }}</div></div>{% endif %}
	</div>
	<div class="span4">
		{{ form.responsable_unidad.label_tag }}
		{{ form.responsable_unidad }}
		{% if form.responsable_unidad.errors %}<div class="alert">{{ form.responsable_unidad.errors }}</div>{% endif %}
	</div>
</div>