{% load i18n %}
<div class="row-fluid">
	<!--<div class="span3">
		{{ form.fecha.label_tag }}
		{{ form.fecha }}
		{% if form.fecha.errors %}<div class="alert">{{ form.fecha.errors }}</div>{% endif %}
	</div>-->
	<div class="span4">
		{{ form.hora_salida.label_tag }}
		{{ form.hora_salida }}
		{% if form.hora_salida.errors %}<div class="alert">{{ form.hora_salida.errors }}</div>{% endif %}
	</div>
	<div class="span4">
		{{ form.hora_llegada.label_tag }}
		{{ form.hora_llegada }}
		{% if form.hora_llegada.errors %}<div class="alert">{{ form.hora_llegada.errors }}</div>{% endif %}
	</div>
	<div class="span4">
		{{ form.hora_reporte.label_tag }}
		{{ form.hora_reporte }}
		{% if form.hora_reporte.errors %}<div class="alert">{{ form.hora_reporte.errors }}</div>{% endif %}
	</div>
</div>
<div class="row-fluid widget">
	<div class="span3">
		{{ form.zona.label_tag }}
		{{ form.zona }}
		{% if form.zona.errors %}<div class="span3" style="margin-left:0;margin-top:10px"><div class="alert">{{ form.zona.errors }}</div></div>{% endif %}
	</div>
	<div class="span3">
		{{ form.municipio.label_tag }}
		{{ form.municipio }}
		{% if form.municipio.errors %}<div class="span3" style="margin-left:0;margin-top:10px"><div class="alert">{{ form.municipio.errors }}</div></div>{% endif %}
	</div>
	<div class="span3">
		{{ form.parroquia.label_tag }}
		{{ form.parroquia }}
		{% if form.parroquia.errors %}<div class="span3" style="margin-left:0;margin-top:10px"><div class="alert">{{ form.parroquia.errors }}</div></div>{% endif %}
	</div>
	<div class="span3">
		{{ form.estacion.label_tag }}
		{{ form.estacion }}
		{% if form.estacion.errors %}<div class="span3" style="margin-left:0;margin-top:10px"><div class="alert">{{ form.estacion.errors }}</div></div>
		{% endif %}
	</div>
</div>
<div class="row-fluid widget">
	<div class="span12">
		{{ form.direccion.label_tag }}
		{{ form.direccion }}
		{% if form.direccion.errors %}<div class="alert">{{ form.direccion.errors }}</div>{% endif %}
	</div>
</div>
<div class="row-fluid widget">
	<div class="span12">
		{{ form.tipo_novedad.label_tag }}
		{{ form.tipo_novedad }}
		{% if form.tipo_novedad.errors %}<div class="alert">{{ form.tipo_novedad.errors }}</div>{% endif %}
	</div>
</div>
<div class="row-fluid widget">
	<div class="span6">
		{{ form.division.label_tag }}
		{{ form.division }}
		{% if form.division.errors %}<div class="span6" style="margin-left:0;margin-top:10px"><div class="alert">{{ form.division.errors }}</div></div>{% endif %}
	</div>
	<div class="span6">
		{{ form.tipo_procedimiento.label_tag }}
		{{ form.tipo_procedimiento }}
		{% if form.tipo_procedimiento.errors %}<div class="span12" style="margin-left:0;margin-top:10px"><div class="alert">{{ form.tipo_procedimiento.errors }}</div></div>{% endif %}
	</div>
</div>
<div class="row-fluid widget">
	<div class="span12">
		{{ form.detalle_procedimiento.label_tag }}
		{{ form.detalle_procedimiento }}
		{% if form.detalle_procedimiento.errors %}<div class="alert">{{ form.detalle_procedimiento.errors }}</div>{% endif %}
	</div>
</div>