{% load i18n %}
<div class="row-fluid vehiculo">
	<div class="span12">
		<h4 style="margin-bottom:15px;">
			{# {% trans 'Agregar Vehículo' %} #}
			{% trans 'Vehículo' %}
			<!--<a href="#"><i class="icon-plus-sign" title="{% trans 'Agregar vehículo' %}"></i></a>-->
		</h4>
	</div>
</div>
<div class="row-fluid vehiculo">
	<div class="span3">
		{{ form.placa_vehiculo.label_tag }}
		{{ form.placa_vehiculo }}
		{% if form.placa_vehiculo.errors %}<div class="alert">{{ form.placa_vehiculo.errors }}</div>{% endif %}
	</div>
	<div class="span3">
		{{ form.tipo_vehiculo.label_tag }}
		{{ form.tipo_vehiculo }}
		{% if form.tipo_vehiculo.errors %}<div class="alert">{{ form.tipo_vehiculo.errors }}</div>{% endif %}
	</div>
	<div class="span3">
		{{ form.marca_vehiculo.label_tag }}
		{{ form.marca_vehiculo }}
		{% if form.marca_vehiculo.errors %}<div class="alert">{{ form.marca_vehiculo.errors }}</div>{% endif %}
	</div>
	<div class="span3">
		{{ form.modelo_vehiculo.label_tag }}
		{{ form.modelo_vehiculo }}
		{% if form.modelo_vehiculo.errors %}<div class="alert">{{ form.modelo_vehiculo.errors }}</div>{% endif %}
	</div>
</div>
<div class="row-fluid vehiculo">
	<div class="span3">
		{{ form.anho_vehiculo.label_tag }}
		{{ form.anho_vehiculo }}
		{% if form.anho_vehiculo.errors %}<div class="alert">{{ form.anho_vehiculo.errors }}</div>{% endif %}
	</div>
	<div class="span3">
		{{ form.color_vehiculo.label_tag }}
		{{ form.color_vehiculo }}
		{% if form.color_vehiculo.errors %}<div class="alert">{{ form.color_vehiculo.errors }}</div>{% endif %}
	</div>
	<div class="span6">&#160;</div>
</div>
<div class="row-fluid vehiculo">
	<div class="span12">
		{{ form.observaciones_vehiculo.label_tag }}
		{{ form.observaciones_vehiculo }}
		{% if form.observaciones_vehiculo.errors %}<div class="alert">{{ form.observaciones_vehiculo.errors }}</div>{% endif %}
	</div>
</div>