{% extends 'base.html' %}
{% load i18n %}
{% block container %}
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<i class="icon-edit"></i>
					<h3>{% block titulo_registro %}{% trans 'Registro de Novedades' %}{% endblock %}</h3>
					<span>
                        <i class="icon-search" style="cursor: pointer" title="{% trans 'Consultar registros' %}"
                           onclick="location='{% block btn_consulta %}#{% endblock %}'"></i>
                    </span>
                    {{request.user.profile.estacion}}
				</div>
				<div class="widget-content big-stats-container">
					<form role="form" class="validate-form" 
						method="post" 
						action="" autocomplete="off" 
						enctype="multipart/form-data" onsubmit="">
						{% csrf_token %}
						<div class="row-fluid">
							<div class="span3">
								{{ form.fecha.label_tag }}
								{{ form.fecha }}
								{% if form.fecha.errors %}
									<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.fecha.errors }}</div>
								{% endif %}
							</div>
							<div class="span3">
								{{ form.hora_salida.label_tag }}
								{{ form.hora_salida }}
								{% if form.hora_salida.errors %}
									<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.hora_salida.errors }}</div>
								{% endif %}
							</div>
							<div class="span3">
								{{ form.hora_llegada.label_tag }}
								{{ form.hora_llegada }}
								{% if form.hora_llegada.errors %}
									<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.hora_llegada.errors }}</div>
								{% endif %}
							</div>
							<div class="span3">
								{{ form.hora_reporte.label_tag }}
								{{ form.hora_reporte }}
								{% if form.hora_reporte.errors %}
									<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.hora_reporte.errors }}</div>
								{% endif %}
								
							</div>
						</div>
						<div class="row-fluid">
							<div class="span4">
								{{ form.zona.label_tag }}
								{{ form.zona }}
								{% if form.zona.errors %}
									<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.zona.errors }}</div>
								{% endif %}
							</div>
							<div class="span4">
								{{ form.municipio.label_tag }}
								{{ form.municipio }}
								{% if form.municipio.errors %}
									<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.municipio.errors }}</div>
								{% endif %}
							</div>
							<div class="span4">
								{{ form.parroquia.label_tag }}
								{{ form.parroquia }}
								{% if form.parroquia.errors %}
									<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.parroquia.errors }}</div>
								{% endif %}
							</div>
						</div>
						<div class="row-fluid" style="margin-top:15px">
							<div class="span12">
								{{ form.direccion.label_tag }}
								{{ form.direccion }}
								{% if form.direccion.errors %}
									<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.direccion.errors }}</div>
								{% endif %}
							</div>
						</div>
						<div class="row-fluid">
							<div class="span12">
								{{ form.tipo_procedimiento.label_tag }}
								{{ form.tipo_procedimiento }}
								{% if form.tipo_procedimiento.errors %}
									<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.tipo_procedimiento.errors }}</div>
								{% endif %}
							</div>
						</div>
						<div class="row-fluid">
							<div class="span12">
								{{ form.detalle_procedimiento.label_tag }}
								{{ form.detalle_procedimiento }}
								{% if form.detalle_procedimiento.errors %}
									<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.detalle_procedimiento.errors }}</div>
								{% endif %}
							</div>
						</div>
						<hr>
						<div class="row-fluid">
							<div class="span12">
								<h4 style="margin-bottom:15px;">
									Unidad&#160;&#160;
									<i class="icon-plus-sign" style="cursor:pointer;" title="{% trans 'Agregar unidad' %}"></i>
								</h4>
								<div class="row-fluid">
									<div class="span4">
										{{ form.tipo_unidad.label_tag }}
										{{ form.tipo_unidad }}
										{% if form.tipo_unidad.errors %}
											<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.tipo_unidad.errors }}</div>
										{% endif %}
									</div>
									<div class="span4">
										{{ form.codigo_unidad.label_tag }}
										{{ form.codigo_unidad }}
										{% if form.codigo_unidad.errors %}
											<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.codigo_unidad.errors }}</div>
										{% endif %}
									</div>
									<div class="span4">
										{{ form.responsable_unidad.label_tag }}
										{{ form.responsable_unidad }}
										{% if form.responsable_unidad.errors %}
											<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.responsable_unidad.errors }}</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						<hr>
						{% block comision %}
							<div class="row-fluid">
								<div class="span12">
									<h4 style="margin-bottom:15px;">
										Comisión&#160;&#160;
										<i class="icon-plus-sign" style="cursor:pointer;" title="{% trans 'Agregar comisión' %}"></i>
									</h4>
									<div class="row-fluid">
										<div class="span6">
											{{ form.nombre_comision.label_tag }}
											{{ form.nombre_comision }}
											{% if form.nombre_comision.errors %}
												<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.nombre_comision.errors }}</div>
											{% endif %}
										</div>
										<div class="span6">
											{{ form.responsable_comision.label_tag }}
											{{ form.responsable_comision }}
											{% if form.responsable_comision.errors %}
												<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.responsable_comision.errors }}</div>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						{% endblock %}
						{% block novedad_extra %}{% endblock %}
						<div class="form-actions">
							<button class="btn btn-primary btn-small" type="submit"
                                    title="{% trans 'Presione el botón para registrar la información' %}">
								{% trans 'guardar' %}
							</button>
							<button class="btn btn-small" type="button" onclick="location='{% url 'inicio' %}'"
                                    title="{% trans 'Presione el botón para regresar a la pantalla inicial del sistema' %}">
                                {% trans 'cancelar' %}
                            </button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}