{% extends 'base_list.html' %}
{% load i18n %}
{% block titulo_consulta %}{% trans 'Listado de Novedades' %}{% endblock %}
{% block url_agregar_registro %}{% url 'novedades' %}{% endblock %}
{% block extra_fields_filter_list %}
	<form method="post" action="">
		{% csrf_token %}
		<div class="row-fluid widget">
			<div class="span3">
				<div class="control-group">
					{{form.anho.label_tag}}
					<div class="controls">{{form.anho}}</div>
					{% if form.anho.errors %}
						<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.anho.errors }}</div>
					{% endif %}
				</div>
			</div>
			<div class="span3">
				<div class="control-group">
					{{form.mes.label_tag}}
					<div class="controls">{{form.mes}}</div>
					{% if form.mes.errors %}
						<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.mes.errors }}</div>
					{% endif %}
				</div>
			</div>
			<div class="span3">
				<div class="control-group">
					{{form.tipo_novedad.label_tag}}
					<div class="controls">{{form.tipo_novedad}}</div>
					{% if form.tipo_novedad.errors %}
						<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.tipo_novedad.errors }}</div>
					{% endif %}
				</div>
			</div>
			<div class="span3">
				<label>&#160;</label>
				<div class="controls">
					<button type="submit" class="btn btn-primary btn-small">consultar</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}
{% block consulta_thead %}
	<tr class="text-center">
		<th>{% trans 'Fecha y Hora' %}</th>
		<th>{% trans 'Estación' %}</th>
		<th>{% trans 'División' %}</th>
		<th>{% trans 'Procedimiento' %}</th>
		<th>{% trans 'Dirección' %}</th>
		<th>{% trans 'Descripción' %}</th>
		<th>{% trans 'Unidad' %}</th>
		<th>{% trans 'Acción' %}</th>
	</tr>
{% endblock %}
{% block consulta_tbody %}
	{% if datos %}
		{% for dat in datos %}
			<tr>
				<td>{{ dat.fecha }} {{ dat.hora_reporte }}</td>
				<td>{{ dat.estacion }}</td>
				<td>
					{% if dat.procedimiento.division == 'CI' %}
						{% trans 'Combate de Incendios' %}
					{% else %}
						{% if dat.procedimiento.division == 'BR' %}
							{% trans 'Búsqueda y Rescate' %}
						{% else %}
							{% if dat.procedimiento.division == 'EP' %}
								{% trans 'Emergencia Pre-Hospitalaria' %}
							{% else %}
								{% if dat.procedimiento.division == 'AE' %}
									{% trans 'Actividades Especiales' %}
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
				</td>
				<td>{{dat.procedimiento}}</td>
				<td>{{dat.direccion}}</td>
				<td>{{dat.descripcion}}</td>
				<td>{{dat.novedadunidad}}</td>
				<td style="text-align: center;">
					{# Para eliminar registros se utiliza una función javascript genérica llamada eliminar_registro #}
					{# esta función recibe como parámetros: url, app, modelo, id_a_eliminar #}
					<a href="javascript:eliminar_registro(&quot{% url 'eliminar_registro' %}&quot, 'comun', 'Diagnostico',
							'{{ dat.pk }}');" title="{% trans 'eliminar' %}"><i class="glyphicon glyphicon-trash"></i></a>
					<span style="margin-left:5px;margin-right:5px"></span>
					<a href="{% url 'modificar_novedad' dat.pk %}" title="{% trans 'modificar' %}"><i class="glyphicon glyphicon-edit"></i></a>
				</td>
			</tr>
		{% endfor %}
	{% endif %}
{% endblock %}