{% extends 'novedad_base.html' %}
{% load i18n %}
{% block novedad_extra %}
	<hr>
	<div class="row-fluid">
		<div class="span12">
			<h4 style="margin-bottom:15px;">
				Persona&#160;&#160;
				<i class="icon-plus-sign" style="cursor:pointer;" title="{% trans 'Agregar persona' %}"></i>
			</h4>
			<div class="row-fluid widget">
				<div class="span12">
					{{ form.identificado.label_tag }}
					{{ form.identificado }}
					{% if form.identificado.errors %}
						<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.identificado.errors }}</div>
					{% endif %}
				</div>
			</div>
			<div class="row-fluid widget">
				<div class="span3">
					{{ form.persona_cedula.label_tag }}
					{{ form.persona_cedula }}
					{% if form.persona_cedula.errors %}
						<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.persona_cedula.errors }}</div>
					{% endif %}
				</div>
				<div class="span3">
					{{ form.persona_nombre.label_tag }}
					{{ form.persona_nombre }}
					{% if form.persona_nombre.errors %}
						<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.persona_nombre.errors }}</div>
					{% endif %}
				</div>
				<div class="span3">
					{{ form.persona_sexo.label_tag }}
					{{ form.persona_sexo }}
					{% if form.persona_sexo.errors %}
						<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.persona_sexo.errors }}</div>
					{% endif %}
				</div>
				<div class="span3">
					{{ form.persona_edad.label_tag }}
					{{ form.persona_edad }}
					{% if form.persona_edad.errors %}
						<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.persona_edad.errors }}</div>
					{% endif %}
				</div>
			</div>
			<div class="row-fluid widget">
				<div class="span6">
					{{ form.persona_estatus.label_tag }}
					{{ form.persona_estatus }}
					{% if form.persona_estatus.errors %}
						<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.persona_estatus.errors }}</div>
					{% endif %}
				</div>
				<div class="span6">
					{{ form.persona_diagnostico.label_tag }}
					{{ form.persona_diagnostico }}
					{% if form.persona_diagnostico.errors %}
						<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.persona_diagnostico.errors }}</div>
					{% endif %}
				</div>
			</div>
			<div class="row-fluid widget">
				<div class="span12">
					{{ form.persona_observaciones.label_tag }}
					{{ form.persona_observaciones }}
					{% if form.persona_observaciones.errors %}
						<div class="alert"><strong>{% trans 'Error' %}</strong>{{ form.persona_observaciones.errors }}</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}