{% extends 'base_reporte.html' %}
{% load i18n %}
{% load reportes %}
{% block consulta_thead %}
	<tr class="text-center">
        <th>{% trans 'División' %}</th>
        <th>{% trans 'Enero' %}</th>
        <th>{% trans 'Febrero' %}</th>
        <th>{% trans 'Marzo' %}</th>
        <th>{% trans 'Abril' %}</th>
        <th>{% trans 'Mayo' %}</th>
        <th>{% trans 'Junio' %}</th>
        <th>{% trans 'Julio' %}</th>
        <th>{% trans 'Agosto' %}</th>
        <th>{% trans 'Septiembre' %}</th>
        <th>{% trans 'Octubre' %}</th>
        <th>{% trans 'Noviembre' %}</th>
        <th>{% trans 'Diciembre' %}</th>
        <th>{% trans 'Total' %}</th>
    </tr>
{% endblock %}
{% block consulta_tbody %}{% reporte_general datos %}{% endblock %}
{% block leyenda_reporte %}
    {% if form.anho.value and form.tipo_reporte.value %}
        <ul class="messages_layout">
            <li class="right">
                <div class="message_wrap">
                    <span class="arrow"></span>
                    <div class="info"><div class="name">{% trans 'Reporte General' %}</div></div>
                    <div class="text">
                        <div class="row-fluid">
                            <div class="span12">
                                <i class="fa fa-square fa-2x" style="color:#97BBCD"></i>&#160;&#160;&#160;
                                {% trans 'Actividades Especiales' %}
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <i class="fa fa-square fa-2x" style="color:#DE3F42"></i>&#160;&#160;&#160;
                                {% trans 'Búsqueda y Rescate' %}
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <i class="fa fa-square fa-2x" style="color:#FDB45C"></i>&#160;&#160;&#160;
                                {% trans 'Combate de Incendios' %}
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <i class="fa fa-square fa-2x" style="color:#46BFBD"></i>&#160;&#160;&#160;
                                {% trans 'Emergencias Pre-Hospitalarias' %}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    {% endif %}
{% endblock %}
{% block script_reporte %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("#lista-reporte").dataTable({
                "bAutoWidth": false,
                "aoColumns": [{"sWidth":"30%"},{"sWidth":"5%"},{"sWidth":"5%"},{"sWidth":"5%"},{"sWidth":"5%"},{"sWidth":"5%"},{"sWidth":"5%"},{"sWidth":"5%"},{"sWidth":"5%"},{"sWidth":"5%"},{"sWidth":"5%"},{"sWidth":"5%"},{"sWidth":"5%"},{"sWidth":"10%"}]
            });
        });
    </script>

    {% if form.tipo_reporte.value %}
        <script type="text/javascript">
            var datos_ae = [], datos_br = [], datos_ci = [], datos_ep = [];
            for (i=0; i<12; i++) {
                datos_ae.push($("#ae-"+i).html());
                datos_br.push($("#br-"+i).html());
                datos_ci.push($("#ci-"+i).html());
                datos_ep.push($("#ep-"+i).html());
            }
            var labels_grafico = [
                "Ene", "Feb", "Mar", "Abr", "Mayo", "Jun", "Jul", 
                "Ago", "Sep", "Oct", "Nov", "Dic"
            ];

            var ae = parseInt($("#ae-total-graficar").val()), br = parseInt($("#br-total-graficar").val()),
                ci = parseInt($("#ci-total-graficar").val()), ep = parseInt($("#ep-total-graficar").val());
        </script>
        {% if form.tipo_reporte.value == 'B' %}
            <script type="text/javascript">
                var barChartData = {
                    labels: labels_grafico,

                    datasets: [
                        {
                            fillColor: "rgba(151,187,205,0.5)", /* Color de fondo #97BBCD */
                            strokeColor: "rgba(151,187,205,1)", /* color de borde */
                            data: datos_ae
                        },
                        {
                            fillColor: "rgba(222,63,66,0.5)", /* #DE3F42 */
                            strokeColor: "rgba(222,63,66,1)", /* #762123 */
                            data: datos_br
                        },
                        {
                            fillColor: "rgba(253,180,92,0.5)", /* #FDB45C */
                            strokeColor: "rgba(253,180,92,1)", /* #8A6232 */
                            data: datos_ci
                        },
                        {
                            fillColor: "rgba(70,191,189,0.5)", /* #46BFBD */
                            strokeColor: "rgba(70,191,189,1)", /* #276A69 */
                            data: datos_ep
                        }
                    ]

                };

                var myLine = new Chart(document.getElementById("grafico-reporte").getContext("2d")).Bar(barChartData, {responsive:true});
            </script>
        {% else %}
            {% if form.tipo_reporte.value == 'A' %}
                <script type="text/javascript">
                    var areaChartData = {
                        labels: labels_grafico,
                        datasets: [
                            {
                                fillColor: "rgba(151,187,205,0.5)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                data: datos_ae
                            },
                            {
                                fillColor: "rgba(222,63,66,0.5)",
                                strokeColor: "rgba(222,63,66,1)",
                                pointColor: "rgba(222,63,66,1)",
                                pointStrokeColor: "#fff",
                                data: datos_br
                            },
                            {
                                fillColor: "rgba(253,180,92,0.5)",
                                strokeColor: "rgba(253,180,92,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                data: datos_ci
                            },
                            {
                                fillColor: "rgba(70,191,189,0.5)",
                                strokeColor: "rgba(70,191,189,1)",
                                pointColor: "rgba(70,191,189,1)",
                                pointStrokeColor: "#fff",
                                data: datos_ep
                            }
                        ]
                    };

                    var myLine = new Chart(document.getElementById("grafico-reporte").getContext("2d")).Line(areaChartData);
                </script>
            {% else %}
                {% if form.tipo_reporte.value == 'D' %}
                    <script type="text/javascript">
                        
                        var doughnutData = [
                            {
                                value: ae,
                                color: "#97BBCD",
                                label: 'red'
                            },
                            {
                                value: br,
                                color: "#DE3F42"
                            },
                            {
                                value: ci,
                                color: "#FDB45C"
                            },
                            {
                                value: ep,
                                color: "#46BFBD"
                            }
                        ];

                        var myDoughnut = new Chart(document.getElementById("grafico-reporte").getContext("2d")).Doughnut(doughnutData);
                    </script>
                {% else %}
                    {% if form.tipo_reporte.value == 'L' %}
                        <script type="text/javascript">
                            /*var data = {
                                labels: labels_grafico,
                                datasets: [
                                    {

            label: "My First dataset",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [65, 59, 80, 81, 56, 55, 40]
        },
        {
            label: "My Second dataset",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [28, 48, 40, 19, 86, 27, 90]
        }
    ]
};*/

                        </script>
                    {% else %}
                        {% if form.tipo_reporte.value == 'T' %}
                            <script type="text/javascript">
                                var pieData = [
                                    {
                                        value: ae,
                                        color: "#97BBCD",
                                        highlight: "#5AD3D1",
                                        label: 'ae'
                                    },
                                    {
                                        value: br,
                                        color: "#DE3F42",
                                        label: br
                                    },
                                    {
                                        value: ci,
                                        color: "#FDB45C",
                                        label: ci
                                    },
                                    {
                                        value: ep,
                                        color: "#46BFBD",
                                        label: ep
                                    }
                                ];

                                var myPie = new Chart(document.getElementById("grafico-reporte").getContext("2d")).Pie(pieData);
                            </script>
                        {% else %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}