{% extends 'base.html' %}
{% load i18n %}
{% block contenedor_principal %}
    <div class="account-container">
        <div class="content clearfix">
            <form action="" method="post">
                {% csrf_token %}
                <h1>{% trans 'Autenticación' %}</h1>
                <div class="login-fields">
                    <p>{% trans 'Suministre los datos de acceso al sistema' %}</p>

                    <div class="field">
                        <label for="username">{{ form.usuario.label }}</label>
                        {{ form.usuario }}
                        {% if form.usuario.errors %}
                            <div class="alert">
                                <strong>{% trans 'Error' %}</strong>
                                {{ form.usuario.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label for="password">{{ form.clave.label }}</label>
                        {{ form.clave }}
                        {% if form.clave.errors %}
                            <div class="alert">
                                <strong>{% trans 'Error' %}</strong>
                                {{ form.clave.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="login-actions">
                    <button class="button btn btn-primary btn-small">{% trans 'acceso' %}</button>
                </div> <!-- .actions -->
            </form>
        </div> <!-- /content -->
    </div> <!-- /account-container -->

    <div class="login-extra">
        <a href="{% url 'forgot_password' %}">{% trans 'Recuperar contraseña' %}</a>
    </div> <!-- /login-extra -->
{% endblock %}