{% extends 'base.html' %}
{% load i18n %}
{% block contenedor_principal %}
    <div class="account-container">
        <div class="content clearfix">
            <form action="" method="post">
                {% csrf_token %}
                <h1>{% trans '¿Olvido contraseña?' %}</h1>
                <div class="login-fields">
                    <p>{% trans 'Suministre el correo electrónico para reestablecer su contraseña' %}</p>

                    <div class="field">
                        <label for="email">{{ form.email.label }}</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="alert">
                                <strong>{% trans 'Error' %}</strong>
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="login-actions">
                    <button class="button btn btn-warning btn-small" type="button" onclick="location='{% url 'acceso' %}'">{% trans 'cancelar' %}</button>
                    <button class="button btn btn-primary btn-small" type="submit" style="margin-right:10px">{% trans 'enviar' %}</button>
                </div> <!-- .actions -->
            </form>
        </div> <!-- /content -->
    </div> <!-- /account-container -->
{% endblock %}