{% extends 'base_list.html' %}
{% load i18n %}
{% block titulo_consulta %}{% trans 'Listado de Usuarios' %}{% endblock %}
{% block url_agregar_registro %}{% url 'registro_usuario' %}{% endblock %}
{% block consulta_thead %}
	<tr class="text-center">
        <th>{% trans 'Estación' %}</th>
        <th>{% trans 'Nombre' %}</th>
        <th>{% trans 'Apellido' %}</th>
        <th>{% trans 'Usuario' %}</th>
        <th>{% trans 'Tipo' %}</th>
        <th>{% trans 'Acción' %}</th>
    </tr>
{% endblock %}
{% block consulta_tbody %}
	{% if datos %}
		{% for dat in datos %}
			<tr>
				<td>{{ dat.userprofile.estacion }}</td>
				<td>{{ dat.first_name }}</td>
				<td>{{ dat.last_name }}</td>
				<td>{{ dat.username }}</td>
				<td>{% if dat.is_staff %}{% trans 'Administrador' %}{% else %}{% trans 'Estadístico de Guardia' %}{% endif %}</td>
				<td style="text-align: center;">
					{# Condición que evalua si es el mismo usuario que esta autenticado para no mostrar el enlace de eliminación #}
					{% if dat.is_staff %}
						{# Para eliminar registros se utiliza una función javascript genérica llamada eliminar_registro #}
						{# esta función recibe como parámetros: url, app, modelo, id_a_eliminar #}
						<a href="#" title="{% trans 'eliminar' %}"><i class="glyphicon glyphicon-trash"; title="{% trans 'no puede eliminar un usuario administrador' %}" ></i></a>
						<span style="margin-left:5px;margin-right:5px"></span>
					{% else %}
						<a href="javascript:eliminar_registro(&quot{% url 'eliminar_registro' %}&quot, 'comun', 'Usuario',
						'{{ dat.pk }}');"title="{% trans 'eliminar' %}"><i class="glyphicon glyphicon-trash"></i></a>
						<span style="margin-left:5px;margin-right:5px"></span>
					{% endif %}
					<a href="{% url 'modificar_usuario' dat.userprofile.pk %}" title="{% trans 'modificar' %}"><i class="glyphicon glyphicon-edit"></i></a>
				</td>
			</tr>
        {% endfor %}
    {% endif %}
{% endblock %}