{% extends 'base.html' %}
{% load i18n %}
{% block container %}
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<i class="icon-edit"></i>
					<h3>{% block titulo_form_novedad %}{% trans 'Registro de Novedades' %}{% endblock %}</h3>
				</div>
				<div class="widget-content big-stats-container">
					<form role="form" class="validate-form" 
						method="post" 
						action="" autocomplete="off" 
						enctype="multipart/form-data" onsubmit="">
						{% csrf_token %}
						{% include 'datos_basicos.html' %}
						<hr>
						{% include 'datos_unidad.html' %}
						<hr id="line-comision">
						{% include 'datos_comision.html' %}
						<hr id="line-persona">
						{% include 'datos_persona.html' %}
						<hr id="line-vehiculo">
						{% include 'datos_vehiculo.html' %}
						<hr id="line-estructura">
						{% include 'datos_estructura.html' %}
						<div class="form-actions">
							<button class="btn btn-primary btn-small" type="submit"
                                    title="{% trans 'Presione el botón para registrar la información' %}">
								{% trans 'guardar' %}
							</button>
							<button class="btn btn-success btn-small" type="reset" id="reset"
                                    title="{% trans 'Presione el botón para reiniciar el formulario' %}">
								{% trans 'limpiar' %}
							</button>
							<button class="btn btn-warning btn-small" type="button" onclick="location='{% url 'inicio' %}'"
                                    title="{% trans 'Presione el botón para regresar a la pantalla inicial del sistema' %}">
                                {% trans 'cancelar' %}
                            </button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}