{% load static from staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% trans 'Sistema de Novedades - Cuerpo de Bomberos del Estado Mérida' %}</title>
        <meta name="description" content="description">
        <meta name="author" content="Yanina Guillén">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="icon" type="image/png" href="{% static 'img/logo_bomberos.png' %}" />
        {# Include bootstrap admin template #}
        {% block bootstrap_include %}{% endblock %}
        <link href="{% static 'api/bootstrap_admin_template/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'api/bootstrap_admin_template/css/bootstrap-responsive.min.css' %}" rel="stylesheet">
        {% block reports_styles %}{% endblock %}
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/font-awesome-4.3.0/css/font-awesome.min.css' %}">
        <link href="{% static 'api/bootstrap_admin_template/css/font-awesome.css' %}" rel="stylesheet">
        <link href="{% static 'api/bootstrap_admin_template/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'api/bootstrap_admin_template/css/pages/dashboard.css' %}" rel="stylesheet">
        <link href="{% static 'api/bootstrap_admin_template/css/pages/signin.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/select2-3.5.2/select2.css' %}" media="all">
        <link rel="stylesheet" type="text/css" href="{% static 'api/bootstrap-3.3.4/plugins/DataTables-1.10.6/extensions/TableTools/css/dataTables.tableTools.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'api/bootstrap-3.3.4/plugins/DataTables-1.10.6/media/css/dataTables.bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'api/bootstrap-3.3.4/plugins/DataTables-1.10.6/extensions/Responsive/css/dataTables.responsive.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}" media="all">
        <link href="{% static 'api/bootstrap-3.3.4/plugins/datepicker/css/datepicker.css' %}" rel="stylesheet" type="text/css">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <style type="text/css">
            #passwordStrength { height:10px; display:block; float:left; }
            .strength0 { width:250px; background:#cccccc; }
            .strength1 { width:50px; background:#ff0000; }
            .strength2 { width:100px; background:#ff5f5f; }
            .strength3 { width:150px; background:#56e500; }
            .strength4 { background:#4dcd00; width:200px; }
            .strength5 { background:#399800; width:250px; }
        </style>
        <script type="text/javascript" src="{% static 'js/funciones.js' %}"></script>
        <script type="text/javascript">


            function passwordStrength(password)
            {
                var desc = new Array();
                desc[0] = "Muy Débil";
                desc[1] = "Débil";
                desc[2] = "Mejor";
                desc[3] = "Buena";
                desc[4] = "Fuerte";
                desc[5] = "Muy Fuerte";

                var score   = 0;

                //if password bigger than 6 give 1 point
                if (password.length > 6) score++;

                //if password has both lower and uppercase characters give 1 point
                if ( ( password.match(/[a-z]/) ) && ( password.match(/[A-Z]/) ) ) score++;

                //if password has at least one number give 1 point
                if (password.match(/\d+/)) score++;

                //if password has at least one special caracther give 1 point
                if ( password.match(/.[!,@,#,$,%,^,&,*,?,_,~,-,(,)]/) ) score++;

                //if password bigger than 12 give another 1 point
                if (password.length > 12) score++;

                 document.getElementById("passwordDescription").innerHTML = desc[score];
                 document.getElementById("passwordStrength").className = "strength" + score;
                 document.getElementById("passwordMeterId").value = score;
            }
        </script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        {# Inicio de la cabecera #}
        <nav class="navbar navbar-fixed-top cintillo" style="">
            <div class="navbar-inner">
                <div class="container">
                    <img src="{% static 'img/cintillo.png' %}" id="cintillo" class="img-responsive" style="max-width:100%;">
                </div>
            </div>
        </nav>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-custom-inner">
                <div class="container">
                    <h1>{% trans 'Sistema de Gestión de Estadísticas' %}</h1>
                </div>
            </div>
        </div>
        {% include 'base_menu.html' %}
        {# Fin de la cabecera #}
        {# Inicio del contenedor de la aplicación #}
        {% block contenedor_principal %}
            <div class="main">
                <div class="main-inner">
                    <div class="container">
                        {% block container %}
                            <div class="row">
                                <div class="span12 text-center" style="text-align: center;">
                                   <img src="{% static 'img/background2.png' %}" class="img-responsive" style="max-width:cover; margin-top: -30px; margin-bottom:-30px;margin-left: -30px; opacity: 0.5; filter:alpha(opacity=50);">
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}
        {# Fin del contenedor de la aplicación #}
        <div class="footer navbar-fixed-bottom">
            <div class="footer-inner">
                <div class="container">
                    <div class="row">
                        <div class="span12"> &copy; 2015
                            <a href="#">
                                {% trans 'Dirección de Bomberos del Estado Mérida' %}
                            </a>.
                        </div>
                <!-- /span12 -->
              </div>
              <!-- /row -->
            </div>
            <!-- /container -->
          </div>
          <!-- /footer-inner -->
        </div>

        {# Inicio de accesos javascript #}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.browser.min.js' %}"></script>
        <!--<script src="{% static 'api/bootstrap-3.3.4/js/bootstrap.js' %}"></script>-->
        <script src="{% static 'api/bootstrap_admin_template/js/excanvas.min.js' %}"></script>
        {% block reportes_javascript %}{% endblock %}
        <script src="{% static 'api/bootstrap_admin_template/js/chart.min.js' %}"></script>
        <script src="{% static 'api/bootstrap_admin_template/js/bootstrap.js' %}"></script>
        <script src="{% static 'api/bootbox/bootbox.min.js' %}"></script>
        <script src="{% static 'api/bootstrap_admin_template/js/signin.js' %}"></script>
        <script src="{% static 'api/bootstrap_admin_template/js/base.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugins/select2-3.5.2/select2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'api/bootstrap-3.3.4/plugins/DataTables-1.10.6/media/js/jquery.dataTables.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'api/bootstrap-3.3.4/plugins/DataTables-1.10.6/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'api/bootstrap-3.3.4/plugins/DataTables-1.10.6/media/js/dataTables.bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'api/bootstrap-3.3.4/plugins/DataTables-1.10.6/extensions/Responsive/js/dataTables.responsive.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
        {# Librerias requeridas para exportar el contenido de tablas en diferentes formatos #}
        <script type="text/javascript" src="{% static 'js/plugins/tableExport/tableExport.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/tableExport/jquery.base64.js' %}"></script>
        <!--<script type="text/javascript" src="{% static 'js/plugins/tableExport/html2canvas.js' %}"></script>-->
        <script type="text/javascript" src="{% static 'js/plugins/tableExport/jspdf/libs/sprintf.js' %}"></script>
        <!--<script type="text/javascript" src="{% static 'js/plugins/tableExport/jspdf/jspdf.js' %}"></script>-->
        <script type="text/javascript" src="{% static 'js/plugins/tableExport/jspdf/libs/base64.js' %}"></script>
        <script href="{% static 'api/bootstrap-3.3.4/plugins/datepicker/js/bootstrap-datepicker.js' %}" type="text/javascript"></script>
        {# Generar reportes en PDF #}
        <script type="text/javascript" src="{% static 'js/plugins/jsPDF/dist/jspdf.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jsPDF/plugins/jspdf.plugin.autotable.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                if ($(".radio").length) {
                    $('form div ul').contents().unwrap();
                    $('form div li').contents().unwrap();
                    $('.radio').each(function() {
                        $(this).parent().addClass('radio-inline');
                    });
                }
                if ($('.dataTable').length) {
                    $(".dataTable").dataTable({
                        "language": {
                            "url": "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                        },
                        /*"scrollY":        "200px",*/
                        /*"scrollCollapse": true,*/
                        "ordering": true,
                        "order": [[0, 'asc']],
                        "bDestroy": true
                    });
                }
                if ($("select").length) {
                    $("select").addClass('select2');
                    $("select").select2({});
                }
                if ($(".select2").length) {
                    $(".select2").select2({});
                }
                $('.numeros').keyup(function(event){
                    return validar_numeros(event);
                });
            });
            /* reinicia el formulario */
            $("#reset").click(function(event) {
                window.location = window.location.href;
            });

            /* mostrar u ocultar campos del formulario de novedades */

            /*$('.datepicker').datepicker();*/
        </script>
        {% if form.tipo_procedimiento.auto_id %}
            <script type="text/javascript">
                if ($("#id_tipo_procedimiento").val().length>0) {
                    validar_formulario_novedad($("#id_tipo_procedimiento").val());
                }
                else {
                    $("#line-persona").hide();
                    $(".persona").hide();
                    $("#line-comision").hide();
                    $(".comision").hide();
                    $("#line-vehiculo").hide();
                    $(".vehiculo").hide();
                    $("#line-estructura").hide();
                    $(".estructura").hide();
                }
            </script>
        {% endif %}
        {% block script_reporte %}{% endblock %}
        {# Fin de acceso javascript #}
        {% include 'base_messages.html' %}
    </body>
</html>