{% extends 'base.html' %}
{% load i18n %}
{% load static from staticfiles %}
{% block bootstrap_include %}
	<link rel="stylesheet" type="text/css" href="{% static 'api/bootstrap-3.3.4/css/bootstrap.css' %}">
{% endblock %}
{% block container %}
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<i class="icon-list-alt"></i>
					<h3>{% block titulo_consulta %}{% endblock %}</h3>
				</div>
				<div class="widget-content">
					<div class="widget big-stats-container">
						<div class="widget-content">
							<div class="row-fluid widget">
								<h3>Agregar Registro <a href="{% block url_agregar_registro %}#{% endblock %}"><i class="icon-plus-sign"></i></a></h3>	
							</div>
							{% block extra_fields_filter_list %}{% endblock %}
							<table id="lista-estacion" class="table table-striped table-bordered dataTable hover display responsive" width="100%" cellspacing="0">
						        <thead>
						            {% block consulta_thead %}{% endblock %}
						        </thead>
						        <tbody>
						        	{% block consulta_tbody %}{% trans 'No existen registros' %}{% endblock %}
						        </tbody>
						    </table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block reportes_javascript %}
	<script src="{% static 'api/bootstrap-3.3.4/js/bootstrap.js' %}"></script>
{% endblock %}