{% extends 'base.html' %}
{% load i18n %}
{% block container %}
	<div class="row">
		<div class="span12">
			<div class="widget">
				<div class="widget-header">
					<i class="icon-edit"></i>
					<h3>{% block titulo_registro %}{% trans 'Registro' %}{% endblock %}</h3>
                    {% block search_registers %}
	                    <!--<span>
	                        <i class="icon-search" style="cursor: pointer" title="{% trans 'Consultar registros' %}"
	                           onclick="location='{% block btn_consulta %}#{% endblock %}'"></i>
	                    </span>-->
	                {% endblock %}
				</div>
				<!-- /widget-header -->
				<div class="widget-content">
					<div class="widget big-stats-container">
						<div class="widget-content">
							<form role="form" class="form-horizontal validate-form" 
							method="{% block form_method %}post{% endblock %}" 
							action="{% block form_action %}{% endblock %}" autocomplete="off" 
							enctype="multipart/form-data" onsubmit="{% block form_onsubmit %}{% endblock %}">
								{% csrf_token %}
								{% for field in form.visible_fields %}
									<div class="control-group">
										{{ field.label_tag }}
										<div class="controls">
											{{ field }}
											{% if field.field.required %}
                                                <span title="{% trans 'Este campo es requerido' %}">
                                                    <i class="icon-asterisk required"></i>
                                                </span>
                                            {% endif %}
										</div>
										{% if field.errors %}
											<div class="alert">
												<strong>{% trans 'Error' %}</strong>
												{{ field.errors }}
											</div>
										{% endif %}
                                        {%  if field.auto_id == 'id_password' %}
                                            <p>
                                                <label for="passwordStrength">Fortaleza de contraseña</label>
                                                <div id="passwordDescription">Contraseña no introducida</div>
                                                <div id="passwordStrength" class="strength0"></div>
                                                <input type="hidden" id="passwordMeterId" name="passwordMeterId" style="display:none;">
                                            </p>
                                        {% endif %}
									</div>
								{% endfor %}
								{% for field in form.hidden_fields %}
									{{field}}
								{% endfor %}
								<div class="form-actions">
									<button class="btn btn-primary btn-small" type="submit"
                                            title="{% trans 'Presione el botón para registrar la información' %}">
										{% trans 'guardar' %}
									</button>
									<button class="btn btn-success btn-small" type="reset" id="reset" 
                                            title="{% trans 'Presione el botón para reiniciar el formulario' %}">
										{% trans 'limpiar' %}
									</button>
									<button class="btn btn-warning btn-small" type="button" onclick="location='{% url 'inicio' %}'"
                                            title="{% trans 'Presione el botón para regresar a la pantalla inicial del sistema' %}">
                                        {% trans 'cancelar' %}
                                    </button>
								</div>
							</form>
						</div>
						<!-- /widget-content --> 
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}