{% load static from staticfiles %}
{% load i18n %}
{% block contenedor_principal %}
    <div class="main">
        <div class="main-inner">
            <div class="container">
                {% block container %}
                    <div class="row">
                        <div class="span12 text-center">
                            <h1>{% trans 'Sistema de Gestión de Estadísticas' %}</h1>
                            <h3>{% trans 'Dirección de Bomberos del Estado Mérida' %}</h3>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}