{% load i18n %}
<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                {% if request.user.is_authenticated %}

                    <li class="active">
                        <a href="{% url 'inicio' %}"><i class="icon-home"></i><span>{% trans 'Inicio' %}</span></a>
                    </li>
                    {% if request.user.is_staff %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-wrench"></i><span>{% trans 'Configuración' %}</span> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                 <li><a href="{% url 'consulta_estacion' %}"><i class="icon-building"></i> {% trans 'Estación' %}</a></li>
                                 <li><a href="{% url 'consulta_unidad' %}"><i class="icon-ambulance"></i> {% trans 'Unidades' %}</a></li>
                                 <li><a href="{% url 'consulta_diagnostico' %}"><i class="icon-medkit"></i> {% trans 'Diagnósticos' %}</a></li>
                                 <li><a href="{% url 'consulta_comision' %}"><i class="fa fa-car"></i> {% trans 'Comisión' %}</a></li>
                                <li><a href="{% url 'consulta_usuario' %}"><i class="icon-group"></i> {% trans 'Usuarios' %}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-sitemap"></i><span>{% trans 'Sistema' %}</span> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'backup_data' %}"><i class="icon-download-alt"></i> {% trans 'Respaldar' %}</a></li>
                                <li><a href="{% url 'restore_data' %}"><i class="icon-upload-alt"></i> {% trans 'Restaurar' %}</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li><a href="{% url 'consulta_novedad' %}"><i class="icon-list-ul"></i><span>{% trans 'Novedades' %}</span></a></li>
                    {% if request.user.is_staff %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-list-alt"></i><span>{% trans 'Reportes' %}</span> <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'reporte_general' %}"><i class="icon-list-ul"></i> {% trans 'General' %}</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-list-ol"></i> {% trans 'Por División' %}</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-list"></i> {% trans 'Por Estación' %}</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}   
                {% endif %}
                <li class="dropdown {% if not request.user.is_authenticated %}active{% endif %}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-question-sign"></i><span>{% trans 'Ayuda' %}</span> <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="icon-book"></i> {% trans 'Manual' %}</a></li>
                        <li>
                            <a href="#modal_acerca_de" data-toggle="modal">
                                <i class="icon-info-sign"></i> {% trans 'Acerca de...' %}
                            </a>
                        </li>
                    </ul>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-user"></i>
                            <span>
                                {% if request.user.first_name and request.user.last_name %}
                                    {{ request.user.first_name }} {{ request.user.last_name }}
                                {% else %}
                                    {{ request.user }}
                                {% endif %}
                            </span> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'perfil_usuario' request.user.id %}"><i class="icon-user"></i> {% trans 'Perfil' %}</a></li>
                            <li><a href="{% url 'salir' %}"><i class="icon-signout"></i> {% trans 'Salir' %}</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>