{% load i18n %}
<script type="text/javascript">
    {% block comment %}
    {% if request.user.is_authenticated %}
        //bootbox.alert('{% trans 'Su ultimo acceso en el sistema fue el ' %}{{ request.user.last_login }}');
    {% endif %}
    {% endblock %}

    {% for message in messages %}
        {% if message %}
            bootbox.alert('{{ message }}');
        {% endif %}
    {% endfor %}

    {% if respaldo %}
        {% ifequal respaldo "exito" %}
            bootbox.alert('{% trans 'Los datos fueron respaldados satisfactoriamente' %}');
        {% else %}
            {% ifequal respaldo "error" %}
                bootbox.alert('{% trans 'Se presentó un error al momento de respaldar los datos, verifique el log del servidor para mayor detalle.' %}');
            {% endifequal %}
        {% endifequal %}
    {% endif %}
    {% if loaddata %}
        {% ifequal loaddata "exito" %}
            bootbox.alert('{% trans 'Los datos fueron restaurados satisfactoriamente' %}');
        {% else %}
            {% ifequal loaddata "error" %}
                bootbox.alert('{% trans 'Se presentó un error al momento de restaurar los datos, verifique el log del servidor para mayor detalle.' %}');
            {% endifequal %}
        {% endifequal %}
    {% endif %}
</script>


<div id="modal_acerca_de" class="modal hide fade" aria-hidden="true" aria-labelledby="modal_acerca_deLabel" 
role="dialog" tabindex="-1" style="display:none;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modal_acerca_deLabel">{% trans 'Acerca de...' %}</h3>
	</div>
	<div class="modal-body">
		<p>{% trans 'Sistema para el registro de novedades del Cuerpo de Bomberos del Estado Mérida' %}</p>
		<div>{% trans 'Equipo' %}:</div>
		<ul>
			<li>Yanina Guillén</li>
            <li>Iraida Sanabria</li>
            <li>Luis Sánchez</li>
		</ul>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">{% trans 'cerrar' %}</button>
	</div>
</div>