{% extends 'base_list.html' %}
{% load i18n %}
{% block titulo_consulta %}{% trans 'Listado de Estaciones' %}{% endblock %}
{% block url_agregar_registro %}{% url 'registro_estacion' %}{% endblock %}
{% block consulta_thead %}
	<tr class="text-center">
		<th>{% trans 'Nombre' %}</th>
		<th>{% trans 'Jefe' %}</th>
		<th>{% trans 'Teléfono' %}</th>
		<th>{% trans 'Dirección' %}</th>
		<th>{% trans 'Parroquia' %}</th>
		<th>{% trans 'Principal' %}</th>
		<th>{% trans 'Acción' %}</th>
	</tr>
{% endblock %}
{% block consulta_tbody %}
	{% if datos %}
		{% for dat in datos %}
			<tr>
				<td class="text-center">{{ dat.nombre }}</td>
				<td>{{ dat.jefe }}</td>
				<td>{{ dat.telefono }}</td>
				<td>{{ dat.direccion }}</td>
				<td>{{ dat.parroquia }}</td>
				<td>
					{% if dat.principal %}
						{% trans 'Sí' %}
					{% else %}
						{% trans 'No' %}
					{% endif %}
				</td>

				<td style="text-align: center;">
					{# Para eliminar registros se utiliza una función javascript genérica llamada eliminar_registro #}
					{# esta función recibe como parámetros: url, app, modelo, id_a_eliminar #}
					<a href="javascript:eliminar_registro(&quot{% url 'eliminar_registro' %}&quot, 'comun', 'Estacion',
							'{{ dat.pk }}');" title="{% trans 'eliminar' %}">
							<i class="glyphicon glyphicon-trash"></i>
					</a>
					<span style="margin-left:5px;margin-right:5px"></span>
					<a href="{% url 'modificar_estacion' dat.pk %}" title="{% trans 'modificar' %}"><i class="glyphicon glyphicon-edit"></i></a>
				</td>
			</tr>
		{% endfor %}
	{% endif %}
{% endblock %}