{% extends 'base_list.html' %}
{% load i18n %}
{% block titulo_consulta %}{% trans 'Listado de Unidades' %}{% endblock %}
{% block url_agregar_registro %}{% url 'registro_unidad' %}{% endblock %}
{% block consulta_thead %}
	<tr class="text-center">
		<th>{% trans 'Estación' %}</th>
		<th>{% trans 'Código' %}</th>
		<th>{% trans 'Tipo' %}</th>
		<th>{% trans 'Acción' %}</th>
	</tr>
{% endblock %}
{% block consulta_tbody %}
	{% if datos %}
		{% for dat in datos %}
			<tr>
				<td>{{ dat.estacion.nombre }}</td>
				<td>{{ dat.codigo }}</td>
				<td>
					{% ifequal dat.tipo 'A' %}
						{% trans 'Ambulancia' %}
					{% else %}
						{% ifequal dat.tipo 'R' %}
							{% trans 'Rescate' %}
						{% else %}
							{% ifequal dat.tipo 'I' %}
								{% trans 'Incendio' %}
							{% else %}
								{% ifequal dat.tipo 'M' %}
									{% trans 'Moto' %}
								{% else %}
									{% ifequal dat.tipo 'O' %}
										{% trans 'Otros' %}
									{% endifequal %}
								{% endifequal %}
							{% endifequal %}
						{% endifequal %}
					{% endifequal %}
				</td>
				<td style="text-align: center;">
					{# Para eliminar registros se utiliza una función javascript genérica llamada eliminar_registro #}
					{# esta función recibe como parámetros: url, app, modelo, id_a_eliminar #}
					<a href="javascript:eliminar_registro(&quot{% url 'eliminar_registro' %}&quot, 'comun', 'Unidad',
							'{{ dat.pk }}');" title="{% trans 'eliminar' %}"><i class="glyphicon glyphicon-trash"></i></a>
					<span style="margin-left:5px;margin-right:5px"></span>
					<a href="{% url 'modificar_unidad' dat.pk %}" title="{% trans 'modificar' %}"><i class="glyphicon glyphicon-edit"></i></a>
				</td>
			</tr>
		{% endfor %}
	{% endif %}
{% endblock %}